<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page des finances</title>
        <link rel="stylesheet" href="../css/pages.css">
    </head>
    <body>
        <aside class="sidebar">
            <h2 class="sidebar-logo">VitaSequor</h2>
            <ul class="sidebar-menu">
                <li><a href="../View/superAdminHome.html">Dashboard</a></li>
                <li><a href="../View/adminDep-adminP.html">Gestion des admins</a></li>
                <li><a href="../View/departements-adminP.html">Gestion des departements</a></li>
                <li><a href="../View/finances-adminP.html">Gestion des finances</a></li>
                <li><a href="#" id="logoutBtn" style="color:var(--danger)">Déconnexion</a></li>
            </ul>
        </aside>

        <main>
            <header class="topbar">
                <h2>Gestion des factures</h2>
            </header>

            <section class="general-section">
                <div class="buttons">
                    <input type="date" id="dateDebut" placeholder="Date début...">
                    <input type="date" id="dateFin" placeholder="Date fin...">
                    <select id="status">
                        <option value="">Tous</option>
                        <option value="PAYEE">Payée</option>
                        <option value="EN_ATTENTE">En attente</option>
                        <option value="ANNULEE">Annulée</option>
                    </select>
                    <select id="paymentMode">
                        <option value="">Tous</option>
                        <option value="ESPECES">Espèces</option>
                        <option value="CARTE">Carte bancaire</option>
                        <option value="VIREMENT">Virement</option>
                        <option value="CHEQUE">Chèque</option>
                    </select>
                    <button class="btn btn-primary" id="filterBtn">Filtrer</button>
                </div>

                <table class="factureTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Patient</th>
                            <th>Date</th>
                            <th>montant</th>
                            <th>Statut</th>
                            <th>Mode de paiement</th>
                        </tr>
                    </thead>
                    <tbody id="facturesList"></tbody>
                </table>
            </section>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="../Controller/common.js"></script>
        <script src="../Controller/finances-adminP.js"></script>
    </body>
</html>