<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion des patients - Secrétaire</title>
        <link rel="stylesheet" href="../css/pages.css">
    </head>
    <body>
        <aside class="sidebar">
            <h2 class="sidebar-logo">VitaSequor</h2>
            <ul class="sidebar-menu">
                <li><a href="../View/secretaryHome.html">Dashboard</a></li>
                <li><a href="../View/patients-secretaire.html">Patients</a></li>
                <li><a href="../View/appointments-secretaire.html">Rendez-vous</a></li>
                <li><a href="../View/facturation-secretaire.html">Facturation</a></li>
                <li><a href="#" id="logoutBtn" style="color:var(--danger)">Déconnexion</a></li>
            </ul>
        </aside>

        <main>
            <header class="topbar">
                <h2>Gestion des patients</h2>
            </header>
            
            <section class="general-section">
                <div class="actions buttons">
                    <input type="text" id="search" placeholder="Rechercher par nom, CIN, téléphone,...">
                    <button class="btn btn-primary" id="addPatientBtn">+Ajouter un patient</button>
                </div>

                <table class="patientsTable">
                    <thead>
                        <tr>
                            <th>Nom complet</th>
                            <th>Email</th>
                            <th>CIN</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Date de naissance</th>
                            <th>Genre</th>
                            <th>Médecin(s)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="patientsList"></tbody>
                </table>
            </section>
        </main>
        <script src="../Controller/common.js"></script>
        <script src="../Controller/patients-secretaire.js"></script>
    </body>
</html>